/* src/WeatherForecast.css */

section {
  display: flex; /* Lays out multiple WeatherForecast cards side by side */
}

section .weather {
  border: 1px solid #ccc;
  flex: 1;
  padding: 10px;
  text-align: center;
}

.weather span {
  font-weight: bold;
}
